<div container = "container-fluid" id = "honeybee_background1">
<%= render "shared/navbar" %>
  <section id = "honeybee_page1">
    <h1>"She's uniquely beautiful...</h1>
    <h2>like you."</h2>
    <p> Candy's Signature Cocktails has combined heather honey, premium vodka and citrus to create a truly unique cocktail experience. The beautiful bouquet of honey and fresh fruit is just the firs step to his remarkable journey to your new favorite cocktail. Candy's celebrates what makes you "awesomely" exceptional.
    </p>
    <h3> HONEY BEE YOU! </h3>
  </section>
  <section id = "honeybee_page2">
    <h1> IMPORTANT INFORMATION: </h1>
    <p> By celebrating with this cocktail you may feel mysterious sensations of being a goddess, call random numbers on your phone, finally realize that your body is the perfect size, or casually hug people longer than usual. If you expereince these results from consuming Candy's Singature Cocktails please let us know by visiting our Facebook page. </p>
    <h2>Please drink responsibly...<h3>I need you!</h3></h2>

  </section>
  <%= render "shared/footerCocktail" %>

</div>