<div container = "container-fluid" id = "honeybee_background1">
<%= render "shared/navbar" %>
  <section id= "lemondrop_page1">
    <div id = "lemondrop_page1_text">
    <h1> "It's here </h1>
    <h2> Lemon Drop Lovers!" </h2>
    <p> Candy's Signature Cocktails has done all the work for you. A preimium, multi-funcitonal and ready to pour Lemon Drop is right at your finger-tips. FINALLY! The refreshing blend of all natural lemons and vodka is lightly sweetened and will be your choice of cocktail at home or as the perfect gift at your next celebration. Candy's raises a glass and toasts to you and all you have loved and inspired - thank you - and as always -
    </p>
    <h3> LOVE OUT LOUD! </h3>
    </div>
  </section>
  <section id = "lemondrop_page2">
    <h1> IMPORTANT INFORMATION: </h1>
    <p id = "ldropP"> By celebrating with this cocktail you may have the urge to call a friend and tell them they rock, dance like nobody's watching, plan a Candy worthy picnic, tell anyone who will listen that women are the superior gender, desire to go volunteer or smile uncontrollably. If you experience these results from consuming Candy's Signature Cocktails please let us know by visiting our Facebook page.
    </p>
    <h2> Please drink responsibly... <h3>I need you! </h3> 
    </h2>
      <%= render "shared/footerCocktail" %>

  </section>
  
</div>
