<div class = "container-fluid" id = "recipesBackground">
<%= render "shared/navbar" %>
  <div class = "container-fluid" id = "recipespage">
    <div id = "recipesText">
      <h1> Recipes </h1>
      <p>
        Here at Candy's Signature Cocktails we have designed two beautiful ready to pour cocktails -
      </p>
      <div id = "lemonHoney">
      <h3 id = "lemon">
        LEMON DROP
      </h3>
      <h3 id = "honey">
        & HONEY BEE
      </h3>
      </div>
    
    <p>
      The following recipes are fun additional ways to toast to great friendships and special occasions
    </p>
    </div>
    <div id = "imageGallery" class = "container-fluid">
      <div id = "myCarousel">
<!--         <ol class="carousel-indicators">
          <li data-target="#carousel-recipes" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-recipes" data-slide-to="1"></li>
          <li data-target="#carousel-recipes" data-slide-to="2"></li>
        </ol> -->
          <!-- Wrapper for slides -->
        <div class="item active">
          <div id = "recipeimg">
          </div>
          <div id = "recipeimg">
          </div>            
          <div id = "recipeimg">
          </div> 
        </div>
     
        <div class="item">
          <div id = "recipeimg">
          </div>               
          <div id = "recipeimg">
          </div>  
          <div id = "recipeimg">
          </div> 
        </div>
        <div class="item">
          <div id = "recipeimg">
          </div>               
          <div id = "recipeimg">
          </div>  
          <div id = "recipeimg">
          </div> 
        </div> 
      </div>
            <!-- Controls -->
       
    </div>
  </div>
</div>
<%= render "shared/footer" %>
</div>