<div id = "landingpage"> 
  <form>
  <div class="form-group">
    <input type="number" class="form-control" id="month" min = "01" max = "12" step = "2" placeholder= "MONTH">
    <input type="number" class="form-control" id="day" min = "01" max = "30" step = "2" placeholder= "DAY">
    <input type = "number" class = "form-control" id="year" min ="1900" max = "2015" step="4" placeholder = "YEAR">
    <div class = "arrow-right">
    </div>
    <input type="submit" id ="sub"value="Submit">
  </div>
  </form>
</div>