<footer class="footer">
  <p>
    Produced and bottled by Candy Smith's Spirits, Rochester, NY. | 21% Alc / Vol (42 proof) | Please Drink Candy's Signature Cocktails Responsibly
    <%= image_tag('Facebook_Logo_Button_24.png') %>
    <%= image_tag('Twitter_Logo_Button_24.png') %>
    <%= image_tag('Instagram_Logo_24.png') %>
    <%= image_tag('Youtube_logotype_24.png') %>
    <br> To find out more about responsible consumption, visit the Century Council. |  Website & development by Spencer Cheng
  </p>
</footer>