<footer class="footer">
  <p id="footerp1">
    Produced and bottled by Candy Smith's Spirits, Rochester, NY. | 21% Alc / Vol (42 proof) | Please Drink Candy's Signature Cocktails Responsibly
  </p>
  <div id="socialmedia">
    <%= link_to image_tag('Facebook_Logo_Button_24-compressor.png'), "https://www.facebook.com/CandysSignature", :id => "facebooklogo", :target => "_blank" %>
    <%= image_tag('Twitter_Logo_Button_24-compressor.png') %>
    <%= image_tag('Instagram_Logo_24-compressor.png') %>
    <%= link_to image_tag('Youtube_logotype_24-compressor.png'), "https://www.youtube.com/watch?v=wQ5Bfk3_qJc", :id => "youtubelogo", :target => "_blank" %>
  </div>
  <p id ="footerp2">
    To find out more about responsible consumption, visit the Century Council. |  Website design & development by Spencer Cheng
  </p>
</footer>