<div class = "container-fluid">
  <%= render "shared/navbar" %>

  <div  id="homebackground">
    <%= image_tag("bottle.png", :id => "bottles") %>
  <button type = "button" id="signup">
    SIGN UP HERE!
  </button>
  </div>
  <%= render "shared/footer" %>
</div>
