<div class = "container-fluid" id="homebackground">
  <%= render "shared/navbar" %>
  <div class = "container-fluid"id = "home">
  <div id = "hometext">
    <h1> Welcome! </h1>
    <h2> Introducing Candy's Signature Cocktails </h2>
    <h3 id ="lemonH"> LEMON DROP  </h3>
    <h3 id = "honeyH"> & HONEY BEE </h3>
    <h4> Enjoy chilled or over ice! </h4>
    <p>
      "I made this just for you - A premium ready to pour cocktail line. Sign up here to receive your invitations to our events and tastings - "I can't wait to meet you!"
    </p>
  <button type = "button" id="signup">
    SIGN UP HERE!
  </button>
  </div>
    <%= image_tag("bottle.png", :id => "bottles") %>
  </div>
  <%= render "shared/footer" %>
</div>
