<div class = "container-fluid" id = "meetcandybackground">
  <%= render "shared/navbar" %>
  <div class = "container-fluid" id ="meetcandy">
    <div id ="candyblurb">
      <h1 id = "candyheader"> Meet Candy </h1>
      <br>
      <p id ="candyblurbp"> Candy's Signature Cocktails creator, Candy Smith, is a single mom, natural born entertainer, entrepreneur and native Texan who has always called Dallas her home. <br><br>
        For the past 12 years she has enjoyed success and recognition for her creative approach to designing promotions for her own prooduction company. Her lists of clients are vast, but her 10-year journey with alcohol giant has poised her perfectly for this new chapter in her life. That new chapter is to create a different kind of spirit that appeals to all the great ladies out there. One that is all natural, beautiful and easily accessible. <br><br>
        Candy's philosophy is simple, toast to what makes you "awesomely" exceptional. Her hope is that with her signature brand she can celebrate, support, and inspire every life, heart and mind that is in pursuit of a deeper kind of love! She believes women positively change the atmosphere. That is why at Candy's Signature Cocktails is committed to supporting women's charities in a variety of ways. <br><br>
        So after 2 1/2 years of building her own spirits company and designing her own signature cocktail line she would like to give you a toast. You will find this toast on the back of every bottle. <br><br></p>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>