/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree
 */
@import "bootstrap-sprockets";
@import "bootstrap";
html, body {overflow:auto}

  a#logo{
    position: relative;
    left: 13em;
    top: -2em;
  }
  #logo img{
  width: 45%;
  }
  /*
  Hover yellow on links and border
  */
  .navbar-default .navbar-nav > li > a:hover{
  color: #fac83d !important;
  }
  .open > a:hover, .open >a:focus, .open >a{
  background-color:rgba(255,255,255,0) !important;
  border-right: solid 1px rgba(230, 32, 126, 0.18) !important;

  }
  ul > li > a.dropdown-toggle,li.recipes > a,li.events > a,li.meetcandy > a,li.findus >a{
  border-right: solid 1px rgba(230, 32, 126, 0.18);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  top: 25px;
  }
  ul.dropdown-menu{
  margin-top: 30px !important;
  }
  ul.dropdown-menu > li > a:hover{
  color: #fac83d !important;
  background-color:rgba(255,255,255,0);

  }
  a{
  padding-top: 1.8em!important;
  color: rgb(240, 117, 167)!important;
  }
  // Navbar-------------------------------------------------------
  #bs-example-navbar-collapse-1{
  height: 75px;
  }
  nav{
  margin-top:2em;
  height: 75px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 100px rgba(37, 35, 35, 0.41);
  }
  .navbar-default{
  background-color:rgba(255,255,255,.37);
  }
  
  
/* .currentLink:target{
  background-color: #DADADA;
}
.currentLink:hover{
  background-color: #DADADA;
} */