// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//HoneyBee  Page 1-----------------------------------------------------------------
#honeybee_page1{
  height: 35em
}
#honeybee_page1 h1{
  font-size: 50px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 1em;
  right: 5em;
  
}
#honeybee_page1 h2{
  font-size: 60px;
  position: relative;
  top: 30px;
  left: 8.5em;
  font-weight: 100;
  font-family: "Roboto",sans-serif;
}
#honeybee_page1 h1, #honeybee_page1 h2,#honeybee_page1 h3,#honeybee_page1 p{
  color: #FFA500;
}
  
#honeybee_page1 p{
  font-size: 20px;
  text-align: right;
  width: 22em;
  position: relative;
  left: 12.5em;
  top: 1em;
  }
#honeybee_page1 h3{
  position: relative;
  font-size: 45px;
  left: 7em;
  color: #FD7304;
  font-family: "Raleway",sans-serif;
}
//HoneyBee Page 2-------------------------------------------------------------------------------------------------

#honeybee_page2{
  height:43em;
  background-color:orange;
}
#honeybee_page2 h1, #honeybee_page2 h2, #honeybee_page2 h3, #honeybee_page2 p{
  text-align: left;
}
#honeybee_page2 h1{
  font-size:40px;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 3em;
  left: 8em;  
}
#hbeeP{
  font-size:18px;
  font-family: "Raleway", sans-serif;  
  position: relative;
  width: 30em;
  top: 6em;
  left: 14.6em;
  font-size: 22px;
}
#honeybee_page2 h2{
  position: relative;
  top: 6em;
  left: 12.8em;
  font-style: italic;
  font-size:25px;
}
#honeybee_page2 h3{
  font-size:30px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 20.5em;
  top: 2.95em;
  font-style: italic;
}

// LemonDrop Page 1-----------------------------------------------------------
#lemondrop_page1{
  height: 35em;
}
#lemondrop_page1_text{
  position:relative;
  left: 35em;
}
#lemondrop_page1 h1{ 
  font-family: "Raleway",sans-serif;
  font-size: 60px;
  color: #F17BAB;
  position: relative;
  top: 1em;
  right: 7.8em;
  padding-bottom: .5em;
}
#lemondrop_page1 h2{
  font-size: 45px;
  font-family: "Raleway",sans-serif;
  color: #F17BAB;
  }
#lemondrop_page1 p{
  width: 30em;
  color: #F17BAB;
}
#lemondrop_page1 h3{
  font-size: 40px;
  color: #FFD900;
}
//LemonDrop Page2--------------------------------------------------------------
#lemondrop_page2 {
  height:43em;
  background-color:pink;
}
#lemondrop_page2 h1, #lemondrop_page2 h2, #lemondrop_page2 h3, #lemondrop_page2 p{
  text-align: left;
}
#lemondrop_page2 h1{
  font-size:40px;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 3em;
  left: 8em;  
}
#ldropP{
  font-size:18px;
  font-family: "Raleway", sans-serif;  
  position: relative;
  width: 30em;
  top: 6em;
  left: 14.6em;
  font-size: 22px;
}
#lemondrop_page2 h2{
  position: relative;
  top: 6em;
  left: 12.8em;
  font-style: italic;
  font-size:25px;
}
#lemondrop_page2 h3{
  font-size:30px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 20.5em;
  top: 2.95em;
  font-style: italic;
}

// Footer Cocktails--------------------------------------------------------------------------------------------
//Footer-------------------------------------------------------------------
.footerCocktail{
  height:64.5px;
  background-color: rgba(0,0,0,0);
  margin-top: 10em;
  margin-left: 5em;
}
.footer img{
/*   padding-left:1em; */
  padding-right:.5em;
}
.footer p{
  margin-left:2em;
}
#footerp2{
  text-indent: 12em;
  margin-bottom:1.5em
/*   font-size: 13px; */
}
#footerp1{
  display: inline-block;
/*   font-size: 13px; */
  padding-left: 4em;
  margin-bottom: 0px;
  margin-top:1.5em;
}
#footerp1, #footerp2{
  font-size:13px;
  color:white;
  line-height: 70%;
}
#socialmedia{
  display: inline-block;
  position: relative;
  top: .8em;
}
#facebooklogo{
  padding-left: 2em;
}

//iPhone 5 and iPhone5s HoneyBee-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #honeybee_page1 h1, #honeybee_page1 h2, #honeybee_page1 h3, #honeybee_page1 p{
      padding-left:1em;
      position: initial;
    }
    #honeybee_page1 h1,#honeybee_page1 h2{
      font-size:30px;
    }
    #honeybee_page1 p{
      width: 18em;
      font-size:15px;
    }
    //Honeybee Page 2---------------------------------------------------------------------
    #honeybee_page2 {
      height: 44em;
      overflow:hidden;
    }
    #honeybee_page2 h1, #honeybee_page2 h2, #honeybee_page2 h3, #honeybee_page2 p{
      text-align: center;
      position: initial;
    }
    #honeybee_page2 h1{
      font-size: 40px;
    }
    #honeybee_page2 h3{
      display: block;
    }
    #hbeeP{
      width: 18em;
      font-size: 17px;
    }
    .footerCocktail{
      margin-left:0px;
      margin-top:-1em;
      height:100%;
      
    }
   
    /* Iphone 5 and 5s Lemon Drop Page 1 -------------------------------------------------------------------------------------------------------------------------------------------------------*/
    #lemondrop_page1_text{
      margin-top: -3em;
      width: 20em;
      margin-left: 1.5em;
      text-align: justify;
      position: initial;
    }
    #lemondrop_page1 h1{
      position: initial;
      font-size:40px;
      margin-top: 1.5em;
      text-indent: -10px;
      text-align: left;
      padding-bottom: 0px;
    }
    #lemondrop_page1 h2{
      font-size: 27px;;
      margin-top: 0px;
      text-align: left;
    }
    #lemondrop_page1 p{
      width: inherit;
    }
    #lemondrop_page1 h3{
      text-align: left;
    }
    /* LemonDrop Page 2 iPhone 5 and 5s */
    #lemondrop_page2{
      height: 48em;
      overflow:hidden;
    }
    #lemondrop_page2 h1{
      font-size: 30px;
      position: initial;
      float:left;
      text-align: center;
    }
    #ldropP{
      text-align: left;
      position: initial;
      font-size: 17px;
      padding-left: 2em;
      padding-right: 1em;
      width: 100%
    }
    #lemondrop_page2 h2{
      position: initial;
      text-align: center;
    }
    #lemondrop_page2 h3{
      position: initial;
      display: block;
      font-size: 30px;
      text-align:center;
    }
    #lemondrop_page2 > .footerCocktail{
      padding-left: 1em;
    }
  }
/* iPhone 6 HoneyBee */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #honeybee_page1{
      height: 39em;
    }
    #honeybee_page2{
      height: 48em;
    }
    #hbeeP{
      text-align: center;
      width: 19em;
      padding-left: 3em;
    }
    .footerCocktail{
      margin-left: 0px;
      text-align: center;
    }
    #lemondrop_page2 > .footerCocktail p{
      text-align: center;
    }
  
  }
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #honeybee_page1{
      height: 43em;
    }
    #honeybee_page1 h1{
      position: initial;
      margin-left: 3em;
      margin-top: 1em;    
    }
    #honeybee_page1 h2{
      position: initial;
      margin-left: 8em;
    }
    #honeybee_page1 p{
      position: initial;
      font-size: 22px;
      margin-left: 6em;
    }
    #honeybee_page1 h3{
      font-size: 45px;
      position: initial;
      margin-left: 5.5em;
    }
    #honeybee_page2{
      height: 55em;
    }
    #honeybee_page2 h1{
      position: initial;
      margin-left: 3.3em;
      padding-top: 3em;
      font-size: 40px;
      margin-top: 2em;
    }
    #hbeeP{
      font-size: 30px;
      position: initial;
      margin-left:4.4em;
      width: 30em;
    }
    #honeybee_page2 h2{
      position: initial;
      margin-left: 5em;
      display: inline-block;
    }
    #honeybee_page2 h3{
      font-size: 30px;
      position: initial;
      width: 7em;
      display: inline-block;
    }
    .footerCocktail{
      height: initial;
      margin-top: 10em;
      margin-left: 3em;
    }
    .footerCocktail > #footerp1 {
      width: 80%;
      padding-left: 0px;
      line-height: 1;
      display: inline-block;
      font-size: 18px;
    }
    .footerCocktail > #socialmedia{
      display: inline;
    }
    .footerCocktail > #footerp2{
      text-indent: 0;
      line-height: 1;
      font-size: 18px;
    }
  }
