// Place all the styles related to the meetcandy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#candyblurb{
  width: 43em;
  margin: auto;
}
#candyblurbp{
  color:#e6207e;
}
#candyheader{
  color:#e6207e;
}